<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="footer-widget">

        </div>
      </div>
      <div class="col-sm-3">
        <div class="footer-widget">

        </div>
      </div>
      <div class="col-sm-3">
        <div class="footer-widget">

        </div>
      </div>
      <div class="col-sm-3">
        <div class="footer-widget">
          <h3>Contact us at:</h3>
          <div class="footer-widget-content">
            <a href="mailto:info@videojudaica.com" class="contact-link">info@videojudaica.com</a>
            <a href="tel:+12064780505" class="contact-link">206-478-0505</a>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
