.red {
  color: red !important;
}

footer {
  background-color: black;
  padding: 2em 0;
}
footer .footer-widget h3 {
  margin-bottom: 1.5em;
}
footer .contact-link {
  display: inline-block;
  width: 100%;
  color: white;
}
footer .footer-social ul {
  padding-left: 0;
}
footer .footer-social ul li {
  list-style: none;
  float: left;
  padding: 0 1em;
}
footer .footer-social ul li:first-child {
  padding-left: 0;
}
footer .footer-social ul li a {
  font-size: 2em;
  color: white;
}
footer .footer-social ul li a:hover {
  color: red;
}
footer .footer-widget {
  color: white;
}
