<h3>About Us</h3>
<div class="suckermans">
  <img src='images/shayandsylvia.jpg' width=279 height=346><br><br>
  <p>Our late benefactor, Shay Suckerman, with <br>his wife Sylvia, for whom the collection is named.</p>
</div>
<p><b>The Sylvia Suckerman Jewish Media Collection</b>, also known as <b>Video Judaica</b>, is the largest independent Jewish video collection in the US. Formally opened with 346 titles in 1993, our collection has steadily grown to more than <b>3000</b>  DVDs and VHS tapes of Jewish interest, including hundreds of titles on VHS that have never been made available on DVD. Our mission is to make these films and videos available to educators in metropolitan areas, as well as Jews and those interested in Judaism who live in small communities and do not have access to these resources locally. Our collection is housed in Bellevue, Washington, and we are an independent Washington State chartered non-profit corporation. 100% of donations goes toward expanding our collection and community services.</p>
<p>Film categories include Hollywood theatrical features, docudramas, documentaries, Israeli films, foreign films from many other countries, cable features, TV films, Yiddish films from the '30s and '40s, cooking and food, Jewish music from around the world, Jewish identity, children's videos, and educational films.</p>
<p> Borrowing films is easy. Fill out a short membership application and pay a nominal one time membership fee, and our <b>3000</b> plus film collection is open to you for $3/week per film, plus $5 shipping and handling.</p>
<p>If you do not find the title you are looking for, please email us your request and we will search our many regional, national, and worldwide sources.</p>

<hr>
<p>
  Contact us at <a href="mailto:info@videojudaica.com">info@videojudaica.com</a> or call (206) 478-0505. Or mail request to:<br> Video Judaica<br> PO Box 1962<br> Bellevue, WA 98009-1962<br><br><br><hr>
</p>
