<div id="dashboard-navbar">
  <a href="#">New Membership</a>
  <a href="#">New Requests</a>
  <a href="#">Memberships</a>
  <a href="#">Checked Out</a>
  <a href="#">Checked In</a>
  <a href="#" class="active">Add New Item</a>
  <a href="#">View/Edit Titles</a>
</div>

<div id="add-movie-form" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add a new media item:</h3>
  </div>
  <div class="panel-body">
    <label>Title:</label>
    <input #newTitle>
    <br>
    <label>Runtime:</label>
    <input #newRuntime>
    <br>
    <label>Rating:</label>
    <input #newRating>
    <br>
    <label>Language(s):</label>
    <input #newLanguage>
    <br>
    <label>Genre:</label>
    <input #newGenre>
    <br>
    <label>Format:</label>
    <input #newFormat>
    <br>
    <label>Availability:</label>
    <input #newAvailability>
    <br>
    <label>Deposit:</label>
    <input #newDeposit>
    <br>
    <label>imdb Link:</label>
    <input #newImdb>
    <br>
    <label>Rental restriction(s):</label>
    <input #newRestriction>
    <br><br><br><br>
    <button class="btn btn-primary" (click)="newItemForm(newTitle.value,
                                newRuntime.value,
                                newRating.value,
                                newLanguage.value,
                                newGenre.value,
                                newFormat.value,
                                newAvailability.value,
                                newDeposit.value,
                                newImdb.value,
                                newRestriction.value); newTitle.value = '';   newRuntime.value = ''; newRating.value = '';  newLanguage.value = ''; newGenre.value = ''; newFormat.value = ''; newAvailability.value = ''; newDeposit.value = ''; newImdb.value = ''; newRestriction.value = ''">Add</button>
  </div>
</div>

<div id="view-all-admin" class="panel panel-default">
  <div class="panel-heading">
    <h3>View All Titles</h3>
  </div>
  <div class="panel-body">
    <app-title-list></app-title-list>
  </div>

</div>

<script>
var navbar = document.getElementById("dashboard-navbar");
var sticky = navbar.offsetTop;
function myFunction(){
  if (window.scrollY >= sticky){
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>
