<div class="container">
  <div class="well">
    <h3>Rental Request Form</h3>
    <form class="form-group" method="post" action="mailto:info@videojudaica.com">
      <!-- <div class="col-md-"> -->
        <p>Suggested rental fee/donation:</p>
        <p>$3/item per week or any part thereof</p>
        <br>
        <p>Shipping charges are as follows:</p>
        <p>First item: $5.00
        <p>Each additional item: $1.50</p>
      <!-- </div> -->
      <div class="col-md-6">
        <label>First Name:</label>
        <input class="form-control" #firstName>
        <label>Last Name:</label>
        <input class="form-control" #lastName>
        <label>Street Address:</label>
        <input class="form-control" #streetAddress>
        <label>City:</label>
        <input class="form-control" #city>
        <label>State:</label>
        <input class="form-control" #state>
        <label>Zipcode:</label>
        <input class="form-control" #zip>
        <label>Phone:</label>
        <input class="form-control" #phone>
      </div>
      <div class="col-md-6">
        <label>Title 1:</label>
        <input class="form-control" #title1>
        <label>Title 2:</label>
        <input class="form-control" #title2>
        <label>Title 3:</label>
        <input class="form-control" #title3>
        <label>Title 4:</label>
        <input class="form-control" #title4>
        <label>Title 5:</label>
        <input class="form-control" #title5>
        <label>Title 6:</label>
        <input class="form-control" #title6>
        <label>Title 7:</label>
        <input class="form-control" #title7>
      </div>
      <!-- <div class="col-md-10"> -->
        <p>By clicking "Submit", I agree to accept full responsibility and liability for all video or audio media and equipment rented. I understand that damaged, lost or stolen items will be assessed replacement cost.
        Suggested rental fee/donation:
        $3/item per week or any part thereof
        In addition, late returns will be assessed one week's charges for each full or partial week delinquent. I also agree to rewind tapes.
        (Failure to promptly return leased property may result in criminal prosecution.)</p>
      <!-- </div> -->
      <button type="submit" name="button" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
