/*Styling to create sticky navbar for dashboards*/
#dashboard-navbar {
  overflow: hidden;
  background-color: #333;
}
#dashboard-navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
#dashboard-navbar a:hover {
  background-color: #ddd;
  color: black;
}
#dashboard-navbar a.active {
  background-color: #4CAF50;
  color: white;
}
.content {
  padding: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}

/*Styling for forms*/
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 10em;
    text-align: left;
}
input {
  display: inline-block;
  float: left;
}
