<div class="container">
  <div class="well">
    <h1> Membership Form</h1>
    <form class="form-group" method="post" action="mailto:info@videojudaica.com">
      <div class="row">
        <div class="col-md-6">
          <label>First Name:</label>
          <input class="form-control" #firstName>
          <label>Last Name:</label>
          <input class="form-control" #lastName>
          <label>Street Address:</label>
          <input class="form-control" #streetAddress>
          <label>City:</label>
          <input class="form-control" #city>
          <label>State:</label>
          <input class="form-control" #state>
          <label>Zipcode:</label>
          <input class="form-control" #zip>
        </div>
        <div class="col-md-6">
          <label>Phone:</label>
          <input class="form-control" #phone>
          <label>Secondary Phone:</label>
          <input class="form-control" #secondaryPhone>
          <label>Email:</label>
          <input class="form-control" #email>
          <label>Drivers License#:</label>
          <input class="form-control" #driversLicense>
          <label>Drivers License State:</label>
          <input class="form-control" #driversLicenseState>
          <label>Upload photocopy of drivers license:</label>
          <input type="file" class="form-control" #diversLicenseFile >
        </div>
      </div>
      <hr>
      <p>I agree to accept full responsibility and liability for all video tapes, DVDs, and/or other media and equipment rented. I understand that damaged, lost or stolen items will be assessed at replacement cost, and late returns will be assessed one week’s charges for each full or partial week delinquent. I also agree to rewind all tapes. (Failure to promptly return leased property may result in criminal prosecution).</p>
      <div class="row">
        <div class="col-md-6">
          <label>Signature: (Type Full Name)</label>
          <input class="form-control" #creditCard>
        </div>
        <div class="col-md-6">
          <label>Date:</label>
          <input type="date"class="form-control" #expDate>
        </div>
      </div>
      <hr>
      <h4>For Institutional Members: Continue below and include ID copies for all additional users</h4>
      <hr>
      <p>Institution name: <br>I, the above signed, authorize the following people to use my membership:</p>
      <div class="row">
        <div class="col-md-6">
          <input class="form-control" #member1>
          <input class="form-control" #member2>
          <input class="form-control" #member3>
        </div>
        <div class="col-md-6">
          <input class="form-control" #member4>
          <input class="form-control" #member5>
          <input class="form-control" #member6>
        </div>
      </div>
      <hr>
      <p><strong>Membership Fees:</strong><br>&emsp;Individual: $25 one-time donation<br>&emsp;Institutional: $50 one-time donation<br>&emsp;Plus $3 per tape per week donation<br><br>&emsp;In the case of a one time use, the $25 or $50 is held as a refundable security deposit, and the rental donation goes to $5/item per week. Checks made payable to Suckerman Video Collection.</p>
      <hr>
      <button type="submit" class="btn btn-success" value="send">Send</button>
    </form>
  </div>
</div>
