<h3>
  Membership Request!
</h3>
<div class="container">
  <div class="well">
    <form>
      <label>New Member First Name</label>
      <input [(ngModel)]="selectedMembership.firstname">
      <br>

      <label>New Member Last Name:</label>
      <input [(ngModel)]="selectedMembership.lastname">
      <br>

      <label>New Member Email:</label>
      <input [(ngModel)]="selectedMembership.email">
      <br>

      <label>New Member Phone:</label>
      <input [(ngModel)]="selectedMembership.phone">
      <br>

      <label>New Member Street/Box Address:</label>
      <input [(ngModel)]="selectedMembership.Street">
      <br>

      <label>New Member City:</label>
      <input [(ngModel)]="selectedMembership.city">
      
      <label>New Member State:</label>
      <input [(ngModel)]="selectedMembership.state">
      <br>

      <label>New Member Zip:</label>
      <input [(ngModel)]="selectedMembership.zip">
      <br>

      <button (click)="beginCreatingMembership(selectedMembership)">Update</button>
    </form>
  </div>
</div>
